<h1 class="Home-title" > Welcome to the Todo HomePage</p>

<h3 class="Home-authenticate">
    If you are a new user <%= link_to "sign up here", new_user_path %>
</h3>

<h3 class="Home-authenticate">
    If you are an existing user <%= link_to "sign-in here", sessions_path %>
</h3>
