<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Manager</title>
  </head>
  <body>
    <h1 class="TodoPage-title">My Todo-List</h1>


<p>This shows the list of Todos<p>

<%= Todo.to_displayable_list %>
</body>
</html>